.iconButton {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(217, 217, 217, 0.1);
  border: none;
  filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.15));
  margin: 0 auto;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.iconButton:hover {
  background-color: rgba(217, 217, 217, 0.15);
}
