.clientPopup {
    max-width: 600px;
    width: 100%;
    max-height: 300px;
    height: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(37, 37, 37, 1);
    border-radius: 16px;
    padding: 32px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box; /* Opera/IE 8+ */
}

.clientPopupTitle {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    color: #FFFFFF;
    margin: 0 0 41px;
}

.clientPopupActionButtons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-top: 42px;
}