.header {
  background-color: var(--secondary-bg-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 0 40px;
  filter: drop-shadow(0px 4px 4px #00000010);
  border-radius: 0 0 16px 16px;
}

.headerMessage {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 33px;
  text-transform: capitalize;
  color: var(--primary-font-color);
}

.headerLogoutIcon {
  cursor: pointer;
}
